#onglet-1 img {
  display: block;
  padding-bottom: 20px;
}

#inputNomDeVille {
    width: 55%;
    padding: 8px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#faireRequete {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#date {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#nombreDePhoto {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  float: right;
}

#TitleProjet {
  font-family: 'Poppins', sans-serif;
  padding-right: 100px;
  padding-left: 20px;
  color: #FFFFFF
}

.FormVilles  {
  background-color: rgba(25,24,24,0.7);
}


body {
  margin: 0;
}
